@model MvcSPAWithEmberjs.Models.LoginModel
@{
    ViewBag.Title = "My Todo List";
}

<div id="main-content">

    @if (@User.Identity.IsAuthenticated)
    {
        <script type="text/x-handlebars" data-template-name="todoTemplate">
        <p class="error">{{TodoEmberApp.todoListsController.error}}</p>

        {{#view Em.Button classBinding="isActive"
              target="TodoEmberApp.todoListsController"
              action="addTodoList"}}Add Todo list{{/view}}

        <section id="lists">
            {{#collection contentBinding="TodoEmberApp.todoListsController" itemTagName="article" itemClassNames="todoList" }}
                <header>
                    <form onsubmit="return false;">
                        {{#view TodoEmberApp.EditTodoListView valueBinding="view.content.Title" class="required" }}
                        {{/view}}
                    </form>
                </header>
                <a href="#" class="deletelist" {{action "deleteTodoList" on="click" contentBinding="view.content" target="view.content"}}>X</a>
            
                <ul>
                       {{#each todoItem in view.content.Todos}}
                           {{#view TodoEmberApp.todosView contentBinding="todoItem"}}
                                    <li>
                                        {{view Ember.Checkbox checkedBinding="todoItem.IsDone"}}
                                        {{#view TodoEmberApp.EditTodoItemView valueBinding="todoItem.Title" class="required" disabledBinding="todoItem.IsDone" }}
                                        {{/view}}
                                        <a href="#" {{action "deleteTodo" on="click" }}>X</a>
                                        {{#if todoItem.hasError}}
                                            <p class="error">{{todoItem.error}}</p>
                                        {{/if}}
                                    </li>
                           {{/view}}
                       {{/each}}
                </ul>

                {{#view TodoEmberApp.CreateTodoView valueBinding="view.content.NewTodoTitle" class="addTodo" placeholder="Type here to add"}}
                {{/view}}
            
                {{#if view.content.hasError}}
                    <p class="error">{{view.content.error}}</p>
                {{/if}}
            {{/collection}}
        </section>

        </script>
    }
    else
    {
        <div class="todoList" id="loginPanel">
            <section id="localLoginPanel">
                <h2>Log in</h2>
                @Html.Partial("_Login")
            </section>
            <section id="socialLoginPanel">
                <h2>Log in using another service</h2>
                @Html.Action("ExternalLoginsList", "Account", new { ReturnUrl = ViewBag.ReturnUrl })
            </section>
            <p>First time here? <a id="showRegister">Sign up</a></p>
        </div>
        <div class="todoList" id="registerPanel">
            <h2>Sign up</h2>
            @Html.Partial("_Register")
            <p>Already signed up? <a id="showLogin">Log in</a></p>
        </div>
    }
</div>

@if (@User.Identity.IsAuthenticated)
{
    @section scripts {
        @Scripts.Render("~/bundles/ember")
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/todo")
    }
}