@model MvcSPAWithEmberjs.Models.LoginModel
@{
    ViewBag.Title = "My Todo List";
}

<div id="main-content">
    With Ember 0.95
    @if (@User.Identity.IsAuthenticated)
    {
        <script type="text/x-handlebars">
        <p class="error">{{TodoEmberApp.todoListsController.error}}</p>

        {{#view Em.Button classBinding="isActive"
              target="TodoEmberApp.todoListsController"
              action="addTodoList"}}Add Todo list{{/view}}

        {{#collection contentBinding="TodoEmberApp.todoListsController" itemTagName="article" itemClassNames="todoList" }}
              <form data-bind="validate: true">
                {{content.TodoListId}}:
                {{#view TodoEmberApp.CreateTodoView valueBinding="content.Title" itemClassNames="required" }}
                {{/view}}
              </form>
        {{/collection}}

        </script>
	  
        <script type="text/x-handlebars" data-template-name="edit-field">
            {{view TodoEmberApp.TextField valueBinding="value" propagatesEvents=true}}
        </script>
                
@*
    
        {{#each TodoEmberApp.todoListsController}}
            {{#view TodoEmberApp.TodoListView contentBinding="this" tagName="article" classNames="todoList"}}
            
                 {{TodoListId}}:
                 {{#view TodoEmberApp.CreateTodoView valueBinding="Title" value="Title"}}
            
                 {{/view}}
            {{/view}}
        {{/each}}

        {{#each TodoEmberApp.todoListsController}}
            {{#view TodoEmberApp.TodoListView contentBinding="this" tagName="article" classNames="todoList"}}
              <form data-bind="validate: true">
                {{TodoListId}}:
                {{editable "Title"}}
              </form>
            {{/view}}
        {{/each}}

          
        {{#each TodoEmberApp.todoListsController}}
            {{#view TodoEmberApp.TodoListView tagName="article" classNames="todoList"}}
              <form data-bind="validate: true">
                {{content.TodoListId}}:
                {{editable "content.Title"}}
              </form>
            {{/view}}
        {{/each}}


        {{#collection contentBinding="TodoEmberApp.todoListsController" itemTagName="article" itemClassNames="todoList" }}
              <form data-bind="validate: true">
                {{content.TodoListId}}:
                {{#view TodoEmberApp.CreateTodoView valueBinding="content.Title" itemClassNames="required" }}
                    {{#view TodoEmberApp.CreateTodoView valueBinding="Title"}}
                {{/view}}
              </form>
        {{/collection}}

  {{#collection contentBinding="Todos.todosController" tagName="ul" itemClassBinding="content.isDone"}}
    {{view Em.Checkbox titleBinding="content.title"
        valueBinding="content.isDone"}}
  {{/collection}}



        <p class="error" data-bind="text: error"></p>
        <button data-bind="click: addTodoList">Add Todo list</button>

        <section id="lists" data-bind="foreach: todoLists, visible: todoLists().length > 0">
            <article class="todoList">
                <header>
                    <form data-bind="validate: true">
                        <input class="required" data-bind="value: Title, selected: IsEditingListTitle, blurOnEnter: true" />
                    </form>
                </header>

                <a href="#" class="deletelist" data-bind="click: $parent.deleteTodoList">X</a>

                <ul data-bind="foreach: Todos">
                    <li>
                        <input type="checkbox" data-bind="checked: IsDone" />
                        <input type="text" data-bind="value: Title, disable: IsDone, blurOnEnter: true" />
                        <a href="#" data-bind="click: $parent.deleteTodo">X</a>
                        <p class="error" data-bind="visible: ErrorMessage, text: ErrorMessage"></p>
                    </li>
                </ul>

                <form data-bind="submit: addTodo">
                    <input class="addTodo" type="text" data-bind="value: NewTodoTitle, placeholder: 'Type here to add', blurOnEnter: true, event: { blur: addTodo }" />
                </form>

                <p class="error" data-bind="visible: ErrorMessage, text: ErrorMessage"></p>
            </article>
        </section>*@
    }
    else
    {
        <div class="todoList" id="loginPanel">
            <section id="localLoginPanel">
                <h2>Log in</h2>
                @Html.Partial("_Login")
            </section>
            <section id="socialLoginPanel">
                <h2>Log in using another service</h2>
                @Html.Action("ExternalLoginsList", "Account", new { ReturnUrl = ViewBag.ReturnUrl })
            </section>
            <p>First time here? <a id="showRegister">Sign up</a></p>
        </div>
        <div class="todoList" id="registerPanel">
            <h2>Sign up</h2>
            @Html.Partial("_Register")
            <p>Already signed up? <a id="showLogin">Log in</a></p>
        </div>
    }
</div>

@if (@User.Identity.IsAuthenticated)
{
    @section scripts {
        @*@Scripts.Render("~/bundles/ember")*@

        <script src="~/Scripts/ember.0.9.5.js"></script>

        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/todo")
    }
}